<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<h2>This is the Matches Route </h2>
{{outlet}}


{{#each model as |match|}}
	<div id="games" class="panel panel-default">
		<h5>{{match.Game.GameId}}</h5>
		<h5>{{match.Game.HomeTeamKey}}</h5>
		<h5>{{match.Game.HomeTeamScore}}</h5>
		<h5>{{match.Game.AwayTeamKey}}</h5>
		<h5>{{match.Game.AwayTeamScore}}</h5>
		<h5>{{match.Game.DateTime}}</h5>
		<h5>{{match.Game.Clock}}</h5>

		<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{match.Game.GameId}}">Match Details</button>
			<div id="{{match.Game.GameId}}" class="collapse">
				Goals
				{{#each match.Goals as |goal|}}
					<h5>{{goal.GameMinute}}</h5>
					<h5>{{goal.Name}}</h5>
				{{/each}}
				
				Disciplinary
				{{#each match.Bookings as |booking|}}
					<h5>{{booking.GameMinute}}</h5>
					<h5>{{booking.Type}}</h5>
					<h5>{{booking.Name}}</h5>
				{{/each}}
			</div>
	</div>
{{/each}}
