<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{{outlet}}

{{#each model as |match|}}
	<div id="games" class="panel panel-default">
		<h6 style="text-align: right">{{#if (eq match.Game.Status "InProgress")}} 
			{{match.Game.Clock}}'
				{{else if (eq match.Game.Status "Break")}}
					HT
					{{else if (eq match.Game.Status "Final")}}
					Final
						{{else}}
						{{format-date match.Game.DateTime}} ET {{/if}}
		</h6>

	 	<h4 style="text-align: left">{{match.Game.HomeTeamName}}	
	 		<span style="float: right">
	 			{{match.Game.HomeTeamScore}}
	 		</span>
	 	</h4>

	 	<h4 style="text-align: left">{{match.Game.AwayTeamName}}	
	 		<span style="float: right">
	 			{{match.Game.AwayTeamScore}}
	 		</span>
	 	</h4>

		<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{match.Game.GameId}}" {{action "getLatest"}}>Match Details</button>
			<div id="{{match.Game.GameId}}" class="collapse">
				<hr>

				<h4>Goals</h4>
				{{#each match.Goals as |goal|}}
					<h5 style="text-align: left">{{goal.GameMinute}}'	
	 					<span style="float: right">
	 						{{#if (eq goal.TeamId match.Game.HomeTeamId)}} 
	 							{{match.Game.HomeTeamKey}}
	 								{{else}}
	 									{{match.Game.AwayTeamKey}} {{/if}}
	 						- {{goal.Name}}
	 					</span>
	 				</h5>
				{{/each}}
				
				<hr>
				<h4>Disciplinary</h4>
				{{#each match.Bookings as |booking|}}
					<h5 style="text-align: left">{{booking.GameMinute}}'	
	 					<span style="float: right">
	 						{{#if (eq booking.TeamId match.Game.HomeTeamId)}} 
	 							{{match.Game.HomeTeamKey}}
	 								{{else}}
	 									{{match.Game.AwayTeamKey}} {{/if}}
	 						- {{booking.Type}} - 
	 						{{booking.Name}}
	 					</span>
	 				</h5>
				{{/each}}
			</div>
	</div>
{{/each}}
